name: Java CI with gradle

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [17]
    runs-on: ${{ matrix.os }}

    steps:
      # checkout to specmatic-google-pubsub-sample project
      - name: Checkout
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: ${{ matrix.java }}

      # Build and test specmatic-google-pubsub-sample project 
      - name: Grant execute permission for gradlew 
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build
